# Ignoring IDE-specific and editor-specific files
.idea/
.VSCodeCounter/

# Ignoring specific configuration files
src/config/config.db.php
src/config/setup.lock

# Ignoring files in uploads/member and uploads/bills but keeping the directories
uploads/member/*
uploads/bills/*

# Allow .gitignore files in those directories
!uploads/member/.gitignore
!uploads/bills/.gitignore

# Ignoring all files in public/images but keeping the directory
public/images/*

# Allow .gitignore file in public/images
!public/images/.gitignore

# Ignoring Composer vendor directory
vendor/
